@media screen and (min-width: 900px) {
  #mobile-menu #menu-top {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  #theme-header {
    height: 202px !important;
    margin: unset;
  }
  .search-mobile button.search-button:hover {
    color: var(---white-color) !important;
  }
  .imdbwp .imdbwp__content {
    margin-top: 8px;
  }
  .post-cats {
    margin: 8px 0px;
  }
  #mobile-menu li.menu-item-home a:before {
    content: "";
  }
  .fa-home {
    margin-left: -5px;
  }
  #slide-out-open span,
  #slide-out-open span:after,
  #slide-out-open span:before {
    background: var(--white-color) !important;
  }
  #menu-top li {
    background-color: transparent !important;
    padding: 0;
    margin: 15px 0;
    box-shadow: none;
  }
  #menu-top li a {
    color: var(--white-color) !important;
    padding: unset;
  }
  #menu-top a {
    padding: 0;
    border-bottom: none !important;
  }
}
@media screen and (max-width: 500px) {
  .main-menu {
    font-family: var(--Poppins);
  }
  .widget-container center a {
    float: unset;
    padding: 20px;
  }
  .post-thumbnail {
    float: inherit !important;
    margin-bottom: 20px !important;
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .widget .post-thumbnail {
    float: left !important;
    margin-right: 10px !important;
  }
  .cat-box-content ul .post-thumbnail {
    margin-bottom: unset !important;
  }
  .cat-box-content > .item-list .post-thumbnail img {
    border-radius: var(--border-radius);
  }
  .cat-box .entry a.more-link {
    float: right;
  }
  /* Grid view image center */
  .pt-cv-ifield {
    text-align: center;
  }
  .imdbwp.dark {
    flex-direction: column;
    margin-left: unset;
    align-items: center;
  }

  .imdbwp .imdbwp__img {
    margin-left: 0px;
  }
  #slide-out #mobile-menu a {
    color: var(--white-color) !important;
  }
  #theme-header {
    height: auto;
    overflow: hidden;
    height: 300px;
  }
  #sidebar {
    /* display: none; */
  }
  a.more-link {
    margin-top: -5px;
  }
  .cat-box-content ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minMax(78px, 1fr));
    gap: 6px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .cat-box .entry {
    height: auto;
    background: transparent;
    padding: 0;
    border-radius: unset;
  }
  .box div.box-inner-block {
    padding-left: 0px;
  }
  .box.download {
    margin-top: 15px;
  }
  .box.download .tie-shortcode-boxicon:before {
    display: none;
  }
  .post-tabs .pane,
  .post-tabs-ver .pane {
    padding: 0;
  }

  #slide-out-open span,
  #slide-out-open span::before,
  #slide-out-open span::after {
    background-color: var(--white-color) !important;
  }
}
