@media (max-width: 990px) {
  body {
  }
  .imdbwp.dark {
    flex-direction: column;
    align-items: center;
  }
  .imdbwp .imdbwp__img {
    margin-left: 0px;
  }
  #menu-top li {
    background-color: transparent !important;
    padding: 0;
    margin: 15px 0;
    box-shadow: none;
  }
  #menu-top a {
    padding: 0;
    border-bottom: none !important;
  }
  #slide-out #mobile-menu a {
    color: var(--white-color) !important;
  }
  #theme-header {
    height: auto;
    overflow: hidden;
  }
  #sidebar {
    display: none;
  }
  a.more-link {
    margin-top: -5px;
  }
  .cat-box-content ul {
    display: grid;
    grid-template-columns: repeat(4, 85px);
    gap: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .cat-box .entry {
    height: auto;
    background: transparent;
    padding: 0;
    border-radius: unset;
  }
  .box div.box-inner-block {
    padding-left: 0px;
  }
  .box.download .tie-shortcode-boxicon:before {
    display: none;
  }
  .post-tabs .pane,
  .post-tabs-ver .pane {
    padding: 0;
  }
  #theme-header ::before {
    content: "";
    position: absolute;
    background: linear-gradient(180deg, rgba(38, 38, 38, 0) 50%, rgba(38, 38, 38, 1) 100%);

    width: 100%;
    height: 100%;
  }
  #slide-out-open span,
  #slide-out-open span::before,
  #slide-out-open span::after {
    background-color: var(--white-color) !important;
  }
}
