/* 
* Custom CSS for Pahe.in
* Create with â¤ by KuchingNeko
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
:root {
  --main-color: #171717;
  --second-color: #262626;
  --third-color: #404040;
  --fourt-color: #a3a3a3;
  --white-color: #fff;
  --border-radius: 6px;
  --Poppins: "Poppins", sans-serif;
}
/* Basic CSS */
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  background-color: var(--main-color) !important;
  background-image: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--Poppins) !important;
  font-weight: 500 !important;
  font-size: 16px;
}
a {
  text-decoration: none !important;
}
/* Make Scrollbar default  */
/* width */
::-webkit-scrollbar {
  width: 10px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--fourt-color) !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  opacity: 0.7;
}
#wrapper.boxed-all {
  background-color: transparent;
}
/* Timeline head */
h2.timeline-head {
  background-color: var(--third-color) !important;
  color: var(--white-color) !important;
  border-radius: var(--border-radius);
  font-size: 12px;
}
.timeline {
  border-color: var(--third-color) !important;
}
.timeline-post::before {
  background-color: var(--white-color) !important;
}
.cvp-live-filter select {
  background-color: var(--third-color) !important;
  border: none !important;
}
/* Logo */
.logo {
  /* text-align: right !important;
     */
  padding-top: 40px;
  margin: unset !important;
}
.logo a {
  z-index: 999;
  position: relative;
}
.boxed-all {
  background-color: var(--second-color) !important;
}
/* Discord & Twitter widget */
#text-html-widget-18 {
  margin-top: 10px;
}
#text-html-widget-18 a:nth-child(1) {
  margin-top: 5px;
  padding: 20px;
  background-color: var(--white-color);
  border-radius: var(--border-radius);
}
#text-html-widget-18 a:nth-child(2) {
  padding: 20px 70px;
  background-color: var(--white-color);
  border-radius: var(--border-radius);
}
#text-html-widget-18 a:nth-child(1):hover,
#text-html-widget-18 a:nth-child(2):hover {
  opacity: 0.7;
}
.widget {
  padding: 5px 5px;
}
.widget-container center a {
  padding: 12px 25px;
  background-color: var(--white-color);
  border-radius: var(--border-radius);
  float: left;
}
/* Top button */
#topcontrol {
  background-color: var(--fourt-color) !important;
}
/* Widget right side */
.widget-top .tabs {
  display: flex;
  gap: 10px;
  float: none;
  margin-bottom: 13px;
  justify-content: center;
}
.theiaStickySidebar select {
  border-radius: var(--border-radius);
}
.widget-container select {
  font-family: var(--Poppins);
}
.widget-container .center a img {
  padding: 8px 20px;
  background: var(--white-color);
  border-radius: var(--border-radius);
  float: left;
}
.posts-list .widget-container li {
  padding: 12px 0px;
}
.post-title {
  font-size: 25px;
  font-weight: 600 !important;
}
.imdbwp .imdbwp__title {
  font-size: 23px;
}
.imdbwp .imdbwp__star {
  font-family: var(--Poppins);
}
.widget-container .widget-top {
  background-color: var(--second-color) !important;
  border: none !important;
}
#tabbed-widget .tabs-wrap li {
  padding: 12px 0;
}
.tabs-nav {
  background-color: var(--second-color) !important;
  border: none !important;
  padding-top: 20px;
}
#tabbed-widget ul.tabs li.active a,
.cat-tabs-header li.active {
  color: var(--white-color) !important;
}
.pane {
  border: none !important;
}

.tabs a {
  background-color: var(--third-color) !important;
  color: var(---white-color) !important;
}
.cat-box-content,
#sidebar .widget-container,
.post-listing,
#commentform {
  border-bottom: none !important;
  box-shadow: none !important;
}
.recent-box .cat-box-content {
  padding: 0 5px;
}
.cat-box-content {
  font-family: var(--Poppins);
}
.cat-box-content ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 8px;
}
.cat-box-content ul li {
  box-shadow: none;
  border-radius: var(--border-radius);
}
.post-thumbnail img {
  width: unset;
}
.post-thumbnail img.attachment-tie-small,
.post-thumbnail img.avatar {
  border-radius: var(--border-radius);
  object-fit: cover;
}
img,
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img {
  object-fit: cover;
}
.post-thumbnail a {
  background: unset;
}
.pic-box.cat-box li .post-thumbnail img.attachment-tie-small {
  box-shadow: none;
  object-fit: contain;
}
.pic-box.pic-grid .cat-box-content {
  padding: unset;
}
.pic-box.pic-grid.cat-box li {
  width: auto;
}
.pic-box.pic-grid.cat-box li:last-child {
  display: block !important;
}
#tabbed-widget .tabs-wrap.tagcloud a {
  background-color: var(--third-color);
  border-radius: var(--border-radius);
  margin: 5px;
}
/* Button */
a.more-link,
.submit {
  padding: 6px 12px !important;
  border-radius: var(--border-radius) !important;
  text-align: center !important;
  background-color: var(--third-color) !important;
  color: var(---white-color) !important;
  font-family: "Poppins" !important;
  font-weight: 500 !important;
}
.submit {
  padding: 10px 20px !important;
  background-color: var(--third-color) !important;
  margin-top: 10px;
}
.imdbwp .imdbwp__img {
  margin-left: -20px;
  border-radius: var(--border-radius);
}
.imdbwp .imdbwp__thumb {
  max-width: 190px !important;
  flex: 1;
}
.imdbwp__content {
  align-self: center;
}
.imdbwp.dark {
  display: flex;
  border: none !important;
  box-shadow: none !important;
  border-radius: var(--border-radius);
  background: none !important;
  padding: unset;
  margin-left: 20px;
  justify-content: space-between;
}
.imdbwp .imdbwp__content {
  margin-left: 0px;
  flex: 1;
}
/* Main & Navbar */
#mobile-menu {
  font-family: var(--Poppins);
}
#main-nav {
  margin: 0 auto;
  background: linear-gradient(180deg, rgba(38, 38, 38, 0) 0%, rgba(38, 38, 38, 1) 100%);
  border-bottom: none !important;
  box-shadow: none !important;
}
#main-nav:hover {
  border-bottom: none !important;
}
#main-nav ul li a,
#main-nav ul li {
  border: none !important;
  font-family: var(--Poppins);
}
#main-nav ul li.menu-item-home a {
  background-position: center 13px !important;
}
#main-nav ul li.current-menu-item a,
#main-nav ul li.current-menu-item a:hover {
  background-color: transparent !important;
}
.search-block:after {
  display: none;
}
.cat-box-content,
#sidebar .widget-container,
.post-listing,
#commentform {
  background-color: var(--third-color);
}
#theme-header {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("https://raw.githubusercontent.com/kuchingneko28/oahe-extension/main/tes.jpg");
  background-size: cover;
  height: 351px;
  border: none;
  object-fit: cover;
  margin: unset;
  margin-bottom: 30px;
}
body.dark-skin #wrapper.boxed-all #theme-header {
  box-shadow: none;
}
#top-nav {
  background-color: transparent;
  border-bottom: none !important;
}
#menu-top li {
  margin-top: 10px;
  margin-left: 15px;
  padding: 5px;
  font-size: 10px;
  background-color: var(--white-color) !important;
  border-radius: var(--border-radius);
  font-weight: 500;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-family: var(--Poppins);
}
#menu-top li a {
  font-family: var(--Poppins);
}
.tipsy-inner {
  background-color: var(--main-color);
}
.tipsy-arrow-s {
  border-top-color: var(--main-color);
}
#menu-top li a:hover {
  color: var(--second-color);
}
#menu-top li a {
  color: var(--second-color) !important;
  line-height: normal;
  height: 0px;
}
#main-nav .menu-sub-content {
  background: var(--third-color) !important;
  border-top-color: var(--fourt-color) !important;
  box-shadow: none;
}
#main-nav ul li.current-menu-parent a,
#main-nav ul li.current-menu-parent a:hover {
  background: transparent;
}
#main-nav ul > li.menu-item-has-children:hover > a:after,
#main-nav ul > li.mega-menu:hover > a:after {
  border-color: transparent transparent var(--fourt-color);
}
.social-icons {
  display: none;
}
.search-block .search-button {
  background-color: var(--second-color) !important;
}
.search-block:after {
  border-right-color: var(--second-color);
}
.search-block {
  margin-top: 10px;
  border-radius: var(--border-radius);
  margin-right: 15px;
}
.search-block #s-header {
  background-color: white !important;
  color: var(--second-color) !important;
  width: auto !important;
}
#theme-header::before {
  content: "";
  position: absolute;
  background: linear-gradient(180deg, rgba(38, 38, 38, 0) 50%, rgba(38, 38, 38, 1) 100%);
  display: block;
  width: 100%;
  height: 100%;
}
.header-content {
  height: 270px;
}
.cat-box .entry {
  margin-top: -5px;
  border-radius: var(--border-radius);
}

.cat-box-content > .item-list .post-thumbnail img,
.cat-box-content > .item-list .post-thumbnail a,
.timeline-post .post-thumbnail img {
  border-radius: var(--border-radius) 0 0 8px;
  box-shadow: none !important;
  object-fit: cover;
}
/* Pageination */
.pagination span.current {
  background-color: var(--third-color) !important;
  border-radius: var(--border-radius);
  padding: 5px 10px;
  border-radius: var(--border-radius);
}
/* Post date genre etc */
.post-box-title {
  font-weight: 600 !important;
}
.post-meta {
  border: none !important;
  color: var(--white-color);
  padding-top: 5px;
  padding-bottom: 10px;
}
.post-meta i {
  color: var(--fourt-color);
}
.post-tag a:hover {
  background: unset;
  opacity: 0.9;
}
p.post-meta a:hover {
  border-bottom: 1px var(--fourt-color) dotted !important;
}
.cat-box-content,
#sidebar .widget-container,
#wrapper.boxed-all .breaking-news,
#wrapper.wide-layout .breaking-news,
.post-listing,
#live-search_results,
.arqam-lite-widget-counter,
#commentform {
  background-color: var(--second-color) !important;
}
.post-inner {
  padding: unset;
}
.az-letters > ul.az-links > li {
  width: 35px;
  height: 35px;
  border-radius: var(--border-radius);
}
.az-letters > ul.az-links > li a {
  color: var(--second-color);
}
.az-letters > ul.az-links > li a:hover {
  color: unset !important;
}
div.letter-section h2.letter-title {
  border-bottom: 1px solid var(--fourt-color);
  padding: 20px 0;
  margin-bottom: 20px;
}
.post-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-navigation div {
  font-size: 13px;
}
code {
  background-color: var(--third-color);
  border: none !important;
  box-shadow: none !important;
  border-radius: var(--border-radius);
  padding: 10px 25px;
}
body.dark-skin .box.shadow {
  box-shadow: none;
}
.box.download {
  background-color: var(--third-color) !important;
  border-radius: var(--border-radius) !important;
  border: none !important;
  font-family: var(--Poppins);
  box-shadow: none;
}
code a[style="color: #00e803;"],
code span[style="color: #00e803;"],
code a[style="color: #005ef7;"],
code span[style="color: #005ef7;"] {
  color: #38e54d !important;
}
code a[style="color: #00e803;"]:hover,
code span[style="color: #00e803;"]:hover,
code a[style="color: #005ef7;"]:hover,
code span[style="color: #005ef7;"]:hover {
  color: #38e54d !important;
  opacity: 0.8;
}
.box.download span[style="color: #00ccff;"] {
  color: #b9c0d5 !important;
}
.shortc-button.green {
  background: #68a7ad !important;
}
.shortc-button.red {
  background: #e97777 !important;
}
.shortc-button.purple {
  background: #9a86a4 !important;
}
.shortc-button.blue {
  background: #6e85b7 !important;
}
.shortc-button.orange {
  background: #eec373 !important;
}
.shortc-button.white {
  background: #f3f1f5 !important;
}
.shortc-button.pink {
  background: #ffb4ac !important;
}
.shortc-button.black {
  background: #52575d !important;
}
.box.download a[style="color: #d4af37 ;"],
.box.download a[style="color: #d4af37 ;"]:hover {
  color: #fed049 !important;
}
.box.download a[style="color: #00e803;"],
.box.download a[style="color: #00e803;"]:hover {
  color: #68b984 !important;
}
.yarpp-related a {
  font-weight: 600 !important;
}
.yarpp-related > ol,
.yarpp-related > ul {
  margin: unset;
  padding-left: 10px;
  padding-top: 5px;
}
.imdbwp.dark .imdbwp__header,
.imdbwp.dark .imdbwp__teaser {
  border-color: var(--third-color);
}
/* Season section */
.post-tabs-ver ul.tabs-nav li {
  border-radius: var(--border-radius);
}
.post-tabs-ver ul.tabs-nav li.current,
.post-tabs-ver ul.tabs-nav li:hover {
  background-color: var(--third-color) !important;
  border-radius: var(--border-radius);
}
.post-tabs ul.tabs-nav li,
.post-tabs-ver ul.tabs-nav li {
  margin: 5px 0;
}
.post-tabs ul.tabs-nav li,
.post-tabs-ver ul.tabs-nav li {
  border: none !important;
}
/* Toogle trailer */
.toggle h3,
.toggle h3:hover {
  background-color: var(--third-color);
  border-radius: var(--border-radius);
  margin-bottom: 10px !important;
}
.toggle .toggle-content {
  padding: 0;
}
.toggle {
  border: none !important;
}
#main-content {
  font-weight: 400;
  font-family: var(--Poppins);
}

#main-content .content {
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid var(--third-color);
}
/* Border */
.post-inner p.post-meta {
  border: none !important;
}
.comments-avatar,
.posts-list,
.categort-posts,
.authors-posts,
.widget.woocommerce,
.widget-container ul.reviews-posts li,
.widget_categories,
.widget_archive,
.widget_nav_menu,
.widget_meta,
.widget_pages,
.widget_recent_comments,
.widget_recent_entries,
#crumbs,
.comment-wrap,
.tie-weather-forecast,
.share-post,
.item-list,
.widget.timeline-posts li h3,
.widget.timeline-posts li span.tie-date:before,
.entry #related_posts,
.live-search_result_container li,
.twitter-widget-content li,
#theme-footer .twitter-widget-content li,
.list-box li.other-news,
.column2 li,
.wide-box li,
.cat-tabs-header,
.sitemap-col h2,
ul.authors-wrap li,
.entry ul.best-reviews li,
.arqam-lite-widget-counter li,
.divider,
.post-content-slideshow-outer,
.woocommerce ul.products li.product .price,
.woocommerce-page ul.products li.product .price,
.flickr-wrapper .flickr_badge_image img,
.review-final-score {
  border-bottom: 1.5px solid var(--third-color) !important;
  padding-bottom: 15px;
  padding-top: 10px;
  margin-bottom: 13px;
}
/* Box select from menu griv view */
.cvp-live-filter select {
  border-radius: var(--border-radius);
  margin: 12px;
  padding: 8px 12px;
}
.pt-cv-title a {
  font-family: var(--Poppins);
  font-weight: 500 !important;
}
.pt-cv-content-item {
  text-align: center;
}
.pt-cv-wrapper img,
.pt-cv-wrapper a {
  border-radius: var(--border-radius);
  object-fit: cover;
}

/* Comment */
.commentmetadata a {
  font-size: 10px;
  font-weight: 600;
}
.block-head h3,
#respond h3 {
  font-size: 16px;
}
.comment-reply-link {
  margin: 12px;
  padding: 2px 12px;
}
.comment-reply-link,
#tabbed-widget ul.tabs li {
  background-color: var(--third-color) !important;
  border-radius: var(--border-radius);
  padding: 0;
  margin-left: 0;
}
#tabbed-widget ul.tabs li a {
  color: var(--fourt-color) !important;
}
#cancel-comment-reply-link {
  padding: 5px 10px;
  border-radius: var(--border-radius);
  background: var(--third-color);
  margin: 8px;
  text-align: center;
  font-size: 14px;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="file"],
input[type="search"],
input[type="color"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="range"],
input[type="time"],
input[type="week"],
textarea {
  background: var(--third-color) !important;
  border: none !important;
  border-radius: var(--border-radius);
}
.stripe-line {
  filter: invert(100%);
  margin-top: 7px;
}
#comments-box .post-listing {
  padding: unset;
}
#commentform {
  padding: unset;
}
.comment-notes {
  margin: 10px 0 !important;
}
#commentform,
#commentform label {
  color: var(--white-color) !important;
}
#commentform .required {
  margin-top: 5px;
}
.comment-avatar .photo {
  border-radius: var(--border-radius);
  margin-top: 5px;
}
/* Footer */
.footer-bottom {
  background: var(--third-color) !important;
  border: none !important;
}
